mixin select-option(name)
  option(value=name)&attributes(attributes)= name

mixin map-select(id,name)
  label(for=id,class='control-label')= name
  select(data-for=id,id=id)&attributes(attributes).form-control
    +select-option("Please Select Map")(value='transparent',selected,disabled)
    +select-option("battlefield-of-eternity")
    +select-option("blackhearts-bay")
    +select-option("cursed-hollow")
    +select-option("dragon-shire")
    +select-option("garden-of-terror")
    +select-option("haunted-mines")
    +select-option("infernal-shrines")
    +select-option("sky-temple")
    +select-option("tomb-of-the-spider-queen")
    +select-option("towers-of-doom")


mixin hero-select(id,name)
  label(for=id,class='control-label')= name
  select(data-for=id,id=id)&attributes(attributes).form-control
    +select-option("Please Select Hero")(value='transparent',selected,disabled)
    +select-option("- chromakey -")(value='chromakey')
    +select-option("abathur")
    +select-option("anubarak")
    +select-option("arthas")
    +select-option("artanis")
    +select-option("azmodan")
    +select-option("brightwing")
    +select-option("chen")
    +select-option("cho")
    +select-option("dehaka")
    +select-option("diablo")
    +select-option("etc")
    +select-option("falstad")
    +select-option("gazlowe")
    +select-option("gall")
    +select-option("greymane")
    +select-option("illidan")
    +select-option("jaina")
    +select-option("johanna")
    +select-option("kaelthas")
    +select-option("kerrigan")
    +select-option("kharazim")
    +select-option("leoric")
    +select-option("lili")
    +select-option("li-ming")
    +select-option("lt-morales")
    +select-option("lunara")
    +select-option("malfurion")
    +select-option("muradin")
    +select-option("murky")
    +select-option("nazeebo")
    +select-option("nova")
    +select-option("raynor")
    +select-option("rehgar")
    +select-option("rexxar")
    +select-option("sgt-hammer")
    +select-option("sonya")
    +select-option("stitches")
    +select-option("sylvanas")
    +select-option("tassadar")
    +select-option("the-butcher")
    +select-option("the-lost-vikings")
    +select-option("thrall")
    +select-option("tracer")
    +select-option("tychus")
    +select-option("tyrael")
    +select-option("tyrande")
    +select-option("uther")
    +select-option("valla")
    +select-option("xul")
    +select-option("zagara")
    +select-option("zeratul")

mixin skin-select(id,name)
  label(for=id,class='control-label')= name
  select(id=id).form-control
    +select-option("Please Select Skin")(value='transparent',selected,disabled)
    +select-option("- transparent -")(value='transparent')
    +select-option("abathur")
    +select-option("abathur_pajamathur")
    +select-option("anubarak")
    +select-option("arthas")
    +select-option("artanis")
    +select-option("azmodan")
    +select-option("brightwing")
    +select-option("chen")
    +select-option("cho")
    +select-option("dehaka")
    +select-option("diablo")
    +select-option("etc")
    +select-option("falstad")
    +select-option("gazlowe")
    +select-option("gall")
    +select-option("greymane")
    +select-option("illidan")
    +select-option("jaina")
    +select-option("johanna")
    +select-option("kaelthas")
    +select-option("kerrigan")
    +select-option("kharazim")
    +select-option("leoric")
    +select-option("lili")
    +select-option("li-ming")
    +select-option("lt-morales")
    +select-option("lunara")
    +select-option("malfurion")
    +select-option("muradin")
    +select-option("murky")
    +select-option("nazeebo")
    +select-option("nova")
    +select-option("raynor")
    +select-option("rehgar")
    +select-option("rexxar")
    +select-option("sgt-hammer")
    +select-option("sonya")
    +select-option("stitches")
    +select-option("sylvanas")
    +select-option("tassadar")
    +select-option("the-butcher")
    +select-option("the-lost-vikings")
    +select-option("thrall")
    +select-option("tracer")
    +select-option("tychus")
    +select-option("tyrael")
    +select-option("tyrande")
    +select-option("uther")
    +select-option("valla")
    +select-option("xul")
    +select-option("zagara")
    +select-option("zeratul")

mixin talent-select(id,name)
  label(for=id,class='control-label')= name
  select(data-for=id,id=id).form-control
    +select-option("Please Select Talent")(selected,disabled)
    +select-option("transparent")
    +select-option("- Generic")(disabled)
    +select-option("battle-momentum")
    +select-option("berserk")
    +select-option("burning-rage")
    +select-option("conjurers-pursuit")
    +select-option("gathering-power")
    +select-option("giant-killer")
    +select-option("ice-block")
    +select-option("imposing-presence")
    +select-option("overdrive")
    +select-option("regeneration-master")
    +select-option("shrink-ray")
    +select-option("vampiric-assault")
    +select-option("- Hero Specific")(disabled)
    +select-option("apocalypse")
    +select-option("avatar")
    +select-option("betrayers-thirst")
    +select-option("breath-of-fire")
    +select-option("dwarf-toss")
    +select-option("face-melt")
    +select-option("fury")
    +select-option("ghost-wolf")
    +select-option("haunting-wave")
    +select-option("holo-decoy")
    +select-option("maelstrom")
    +select-option("mosh-pit")
    +select-option("polymorph")
    +select-option("possession")
    +select-option("rockstar")
    +select-option("second-wind")
    +select-option("storm-earth-fire")
    +select-option("summon-demon-warrior")
    +select-option("war-paint")
    +select-option("whirlwind")
    +select-option("wrath-of-the-berserker")
